* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: rgb(222, 250, 241);
}

a.cabecalho {
    font-size: 24px;
    background-color: rgb(231, 252, 255);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: gray ;
    border-radius: 10px;
}