* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

body {
    margin: 0px;
    background-color: rgb(222, 250, 241);
}

ul.menu {
    list-style: none;
    margin-top: 5px;
    padding: 0px;
    
}

li {
    display: inline-block; 
    margin-bottom: 3%;
}

.botao:hover, .botao:focus {
   
   
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
    margin: 0px;
    color: black;
    background-color: rgb(219, 230, 70);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: gray ;
    border-radius: 10px;
    border-width: 2px;
    
    
    
}

.botao {
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
    margin: 0px;
    color: black;
    background-color: rgb(229, 231, 198);
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: gray ;
    border-radius: 10px;
    border-width: 2px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.titulo {
    text-align: center;
    font-size: 24px;
    margin: 2%;
}

.quadro {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-width: 1px;
    
}

p {
    text-indent: 5%;
    margin: 1%;
}

.configuracaoImagemRedonda {
    float: left;
    width: 30%;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    margin-left: 10%;
    margin-right: 10%;
}

.lado {
    
    width: 40%;
    margin-left: 10%;
    font-size: 20px;
}

.clearfix {
    clear: both;
}

article > p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}